.liCard {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin:0;
    padding: 0;
}

.tituloImg{
    font-size: 16px;
}
.imagen {
    border-radius: 10px;
    width:200px;
    height:200px;     
}

@media (max-width: 560px) {
    .imagen {
        
        width: 65%;
        height: 290px;
    }
}

