:root{
  --colorPrimari:#131313;
 --colorSecundario:hsl(0, 0%, 17%);
 --colorTextButton:#1561F0;
 --colorText:#86868B
  
}
*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--colorPrimari);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style: none;
}